<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>{% block title %}Roman Kazantsev{% endblock %}</title>
      {% block stylesheet %}
        <link rel="stylesheet" href="{{ asset('build/app.bd1c8dc6.css') }}">
      {% endblock %}
    </head>
    <body>
    {% block body %}
        <header>
          <p>Сайт-визитка. Обо мне.</p>
        </header>
        <article>
          <h1>Роман Казанцев</h1>
          <p>Я студент ПС-14. До того, как поступить в Волгатех на это направление я не увлекался программированием и всем, что с этим направлением связано. Несмотря на это, я мне удается хорошо решать различные задачи и получать за это высокие баллы. На мой взгляд самое главное в процессе обучения это мотивация.</p>
          <img src="Images/Roman.jpg" alt="my photo">
          <div class="my_hobbies">
            <h2>Мои увлечения</h2>
            <ul>
              <li>Их нет</li>
              <li>так как</li>
              <li>все время</li>
              <li>уходит</li>
              <li>на учебу</li>
            </ul>
            <h2>Мои хобби</h2>
            <ol>
              <li>Их тоже нет</li>
              <li>так как</li>
              <li>единственное хобби</li>
              <li>на ближацшие 3,5 года</li>
              <li>это учеба на ПС</li>
            </ol>
          </div>
          <div class="clear"></div>
          <div>
            <span>Хочешь написать мне? Жми на &#8594;</span> 
            <a href="https://vk.com/romashkins17">VK</a>
          </div>
        </article>
        <footer>
          <p>Copyright &#169;Frontend 2021</p>
        </footer>
    {% endblock %}
    </body>
</html>
